flows_srr.json
[{"id":"41691f7227428265","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d485aff785c95253","type":"serial-port","serialport":"/dev/rfcomm0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8cd83749e60a00f0","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a183f04717c23eb4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9430a3d0b707b344","type":"ui_group","name":"const_form","tab":"8cd83749e60a00f0","order":1,"disp":false,"width":"6","collapse":false},{"id":"d9304619563104ac","type":"ui_group","name":"power_off_form","tab":"8cd83749e60a00f0","order":2,"disp":false,"width":"6","collapse":false},{"id":"3773afb303eeedbd","type":"ui_group","name":"ramp_form","tab":"8cd83749e60a00f0","order":3,"disp":false,"width":"6","collapse":false},{"id":"f3c59d6411e68d48","type":"ui_group","name":"func_selector","tab":"8cd83749e60a00f0","order":4,"disp":false,"width":"6","collapse":false},{"id":"bf8a47da2a2ab395","type":"ui_group","name":"Tempurature Chart","tab":"8cd83749e60a00f0","order":5,"disp":true,"width":"9","collapse":false},{"id":"eaef03ec2fb8a3af","type":"ui_tab","name":"Settings","icon":"dashboard","disabled":false,"hidden":false},{"id":"773d7daf3ac7e91f","type":"ui_group","name":"PID Form","tab":"eaef03ec2fb8a3af","order":1,"disp":true,"width":"6","collapse":false},{"id":"a262869af4ce1e3f","type":"tcp in","z":"41691f7227428265","name":"16 TC RPi","server":"server","host":"","port":"3456","datamode":"stream","datatype":"utf8","newline":"","topic":"TEMP_CUR","base64":false,"x":80,"y":240,"wires":[["f960e332719f8f2b"]]},{"id":"f960e332719f8f2b","type":"json","z":"41691f7227428265","name":"","property":"payload","action":"","pretty":false,"x":250,"y":240,"wires":[["2eeba0e2083576a3","c7773c9bf8f20dd2","141ac9aa5b889d7f"]]},{"id":"3bf067ca5992452a","type":"inject","z":"41691f7227428265","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":760,"wires":[["b0f7742de6dbb03c"]]},{"id":"b0f7742de6dbb03c","type":"exec","z":"41691f7227428265","command":"sudo rfcomm connect hci0 00:14:03:05:59:CE","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Connect to SSR 0","x":390,"y":760,"wires":[[],[],[]]},{"id":"dccad6e87cdc2860","type":"function","z":"41691f7227428265","name":"Convert JSON to \"message\" format","func":"switch(msg.topic) {\n    case \"TEMP_CUR\":\n        const data = msg.payload.data;\n        const avg_temp = (data.TC0.temp + data.TC1.temp)/2.0;\n        flow.set(\"LAST_TEMP\", avg_temp);\n        msg.payload = `#${msg.payload.channel}:TEMP_CUR=${avg_temp},${data.timestamp}\\n`;\n        return msg;\n    case \"POWER_OFF\":\n        msg.payload = `#${msg.payload.channel}:TEMP_SET=POWER_OFF,,,,\\n`;\n        return msg;\n    case \"CONST\":\n        msg.payload = `#${msg.payload.channel}:TEMP_SET=CONST,${msg.payload.target_temp},,,\\n`;\n        return msg;\n    case \"RAMP\":\n        if(!msg.payload.start_time){\n            msg.payload.start_time = (new Date()).getTime() + 1000;\n        } else {\n            if(!msg.payload.start_date){\n                msg.payload.start_date = (new Date()).toISOString();\n            }\n            node.warn(msg.payload.start_time);\n            node.warn(msg.payload.start_date);\n            msg.payload.start_time = (new Date(msg.payload.start_time)).getTime() + (new Date(msg.payload.start_date)).getTime() - 6*60*60*1000\n            node.warn(msg.payload.start_time);\n            node.warn(new Date(msg.payload.start_time));\n            node.warn((new Date()).getTime());\n            node.warn(new Date());\n            node.warn(msg.payload.start_time - (new Date()).getTime());\n        }\n        \n        if(!msg.payload.start_temp){\n            msg.payload.start_temp = flow.get(\"LAST_TEMP\");\n            if(!msg.payload.start_temp)\n                msg.payload.start_temp = 26.0;\n        }\n        \n        \n        msg.payload = `#${msg.payload.channel}:TEMP_SET=RAMP,${msg.payload.target_temp},${msg.payload.ramp},${msg.payload.start_time},${msg.payload.start_temp}\\n`;\n        return msg;\n    case \"PIDP_SET\":\n        msg.payload = `#${msg.payload.channel}:PIDP_SET=${msg.payload.K_p},${msg.payload.K_i},${msg.payload.K_d}\\n`;\n        return msg;\n        \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":360,"wires":[["09966f6def04702f","62a1e1984cfb3352"]]},{"id":"09966f6def04702f","type":"serial out","z":"41691f7227428265","name":"Teensy 0","serial":"d485aff785c95253","x":1060,"y":360,"wires":[]},{"id":"a709a3188e8eb5e3","type":"ui_dropdown","z":"41691f7227428265","name":"Select Set Point Function Type","label":"","tooltip":"","place":"Power off","group":"f3c59d6411e68d48","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Power off","value":"POWER_OFF","type":"str"},{"label":"Hold Tempurature","value":"CONST","type":"str"},{"label":"Linear Tempurature Ramp","value":"RAMP","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":170,"y":640,"wires":[["2d89c4847be5a0c3"]]},{"id":"d123b48dcb256d79","type":"ui_ui_control","z":"41691f7227428265","name":"Change Set Point Function","events":"all","x":880,"y":640,"wires":[[]]},{"id":"2d89c4847be5a0c3","type":"function","z":"41691f7227428265","name":"Convert Select to UI Control","func":"var ui_control = {\n    \"group\":{\n        \"hide\":[\"Home_const_form\", \"Home_ramp_form\"], \n        \"show\":[\"Home_power_off_form\"], \n        \"focus\": true\n    }\n}\nswitch(msg.payload) {\n    case \"CONST\":\n        ui_control = {\n            \"group\":{\n                \"hide\":[\"Home_ramp_form\",\"Home_power_off_form\"], \n                \"show\":[\"Home_const_form\"], \n                \"focus\": true\n            }\n        }\n        break;\n    case \"RAMP\":\n        ui_control = {\n            \"group\":{\n                \"hide\":[\"Home_const_form\",\"Home_power_off_form\"], \n                \"show\":[\"Home_ramp_form\"], \n                \"focus\": true\n            }\n        }\n        break;\n    case \"POWER_OFF\":\n        ui_control = {\n            \"group\":{\n                \"hide\":[\"Home_const_form\",\"Home_ramp_form\"], \n                \"show\":[\"Home_power_off_form\"], \n                \"focus\": true\n            }\n        }\n        break;\n}\nmsg.payload = ui_control;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":640,"wires":[["d123b48dcb256d79"]]},{"id":"33f89d8e60e9a9f6","type":"ui_form","z":"41691f7227428265","name":"const_form","label":"Set the tempurature for the system","group":"9430a3d0b707b344","order":2,"width":0,"height":0,"options":[{"label":"Tempurature (C)","value":"target_temp","type":"number","required":true,"rows":null}],"formValue":{"target_temp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"CONST","topicType":"str","splitLayout":"","x":230,"y":400,"wires":[["c7773c9bf8f20dd2"]]},{"id":"9116e0857bd26788","type":"ui_form","z":"41691f7227428265","name":"ramp_form","label":"Set the perameters for the tempurature ramp","group":"3773afb303eeedbd","order":0,"width":0,"height":0,"options":[{"label":"Target Tempurature (C)","value":"target_temp","type":"number","required":true,"rows":null},{"label":"Ramp Rate (C/ms)","value":"ramp","type":"number","required":true,"rows":null},{"label":"Start Time","value":"start_time","type":"time","required":false,"rows":null},{"label":"Start Date","value":"start_date","type":"date","required":false,"rows":null},{"label":"Per Ramp Hold Tempurature (C)","value":"start_temp","type":"number","required":false,"rows":null}],"formValue":{"target_temp":"","ramp":"","start_time":"","start_date":"","start_temp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"RAMP","topicType":"str","splitLayout":"","x":230,"y":460,"wires":[["c7773c9bf8f20dd2"]]},{"id":"3e21d7c22d84f317","type":"ui_button","z":"41691f7227428265","name":"power_off_button","group":"d9304619563104ac","order":1,"width":0,"height":0,"passthru":false,"label":"Power down SSR","tooltip":"Shuts down the PID loop which control the SSR and set the duty cycle to 0","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"str","topic":"POWER_OFF","topicType":"str","x":210,"y":340,"wires":[["c7773c9bf8f20dd2"]]},{"id":"2eeba0e2083576a3","type":"function","z":"41691f7227428265","name":"","func":"var msg1 = {\n    topic: \"Thermocouple 1\",\n    payload: msg.payload.data.TC0.temp\n}\n\nvar msg2 = {\n    topic: \"Thermocouple 2\",\n    payload: msg.payload.data.TC1.temp\n}\n\nnode.send(msg1)\nnode.send(msg2)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":240,"wires":[["58efa1eed940a1d2"]]},{"id":"58efa1eed940a1d2","type":"ui_chart","z":"41691f7227428265","name":"Tempurature Chart","group":"bf8a47da2a2ab395","order":0,"width":0,"height":0,"label":"Tempurature Time Series","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":240,"wires":[[]]},{"id":"c7773c9bf8f20dd2","type":"delay","z":"41691f7227428265","name":"Rate limiter","pauseType":"rate","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":470,"y":340,"wires":[[]],"info":"This node was added to avoid overlaping messages."},{"id":"141ac9aa5b889d7f","type":"function","z":"41691f7227428265","name":"Encode CSV","func":"msg.payload = `${msg.payload.data.TC0.temp},${msg.payload.data.TC1.temp},${msg.payload.data.timestamp}\\n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nmsg = {};\nmsg.payload = `temp1,temp2,time\\n`;\nnode.send(msg);\n","finalize":"","libs":[],"x":450,"y":160,"wires":[["6183f24f77c59a4b"]]},{"id":"6183f24f77c59a4b","type":"file","z":"41691f7227428265","name":"","filename":"temprecord.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":680,"y":160,"wires":[[]]},{"id":"7511e83fb21fd563","type":"ui_form","z":"41691f7227428265","name":"pid_form","label":"Set the perameters for the tempurature ramp","group":"773d7daf3ac7e91f","order":0,"width":0,"height":0,"options":[{"label":"Proportionality Constant","value":"K_p","type":"number","required":true,"rows":null},{"label":"Average Constant","value":"K_i","type":"number","required":true,"rows":null},{"label":"Derivative Constant","value":"K_d","type":"number","required":true,"rows":null}],"formValue":{"K_p":"","K_i":"","K_d":""},"payload":"","submit":"submit","cancel":"cancel","topic":"PIDP_SET","topicType":"str","splitLayout":"","x":240,"y":520,"wires":[["c7773c9bf8f20dd2"]]},{"id":"5d40c7564412e60a","type":"inject","z":"41691f7227428265","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":450,"y":480,"wires":[["1de702efd475429a"]]},{"id":"1de702efd475429a","type":"function","z":"41691f7227428265","name":"Create fake temps","func":"newMsg = {\n    topic: \"TEMP_CUR\",\n    payload:{\n        channel: Math.floor(Math.random()*16),\n        data: {\n            timestamp: Date.now(),\n            TC0: {\n                temp: Math.random()*10 + 30\n            },\n            TC1: {\n                temp: Math.random()*10 + 30\n            }\n        }\n}}\n\n\n\n// node.warn(`Sending to channel ${newMsg.payload.channel}: ${newMsg.payload.data.TC0.temp}  ${newMsg.payload.data.TC1.temp}`)\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":480,"wires":[["dccad6e87cdc2860"]]},{"id":"c5eaec174d979752","type":"serial in","z":"41691f7227428265","name":"Teensy Heartbeat","serial":"d485aff785c95253","x":160,"y":580,"wires":[["cb6047836cf11bc4"]]},{"id":"cb6047836cf11bc4","type":"debug","z":"41691f7227428265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":580,"wires":[]},{"id":"62a1e1984cfb3352","type":"debug","z":"41691f7227428265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":300,"wires":[]}]